@import "../GameCard/GameCard.css";

.game-main {
  background-color: var(--def-bg-color);
  padding-bottom: 2rem;
  color: var(--alt-font-color);
  
}

.game-container {
  display: grid;
  grid-template-columns: 4;
  grid-template-rows: 6;
  width: 70%;
  justify-content: center;
  margin: 0 auto 2rem auto;
  padding-top: 2rem;
  grid-gap: 2rem;
}

.game-title {
  margin: auto auto 1rem auto;
  justify-self: center;
  grid-column: 1 / 5;
  grid-row: 1;
}


#id1,
#id2,
#id3,
#id4 {
  grid-row: 2;
}

#id5,
#id6,
#id7,
#id8 {
  grid-row: 3;
}

#id9,
#id10,
#id11,
#id12 {
  grid-row: 4;
}

#id13,
#id14,
#id15,
#id16 {
  grid-row: 5;
}

#id1,
#id5,
#id9,
#id13 {
  grid-column: 1;
}

#id2,
#id6,
#id10,
#id14 {
  grid-column: 2;
}

#id3,
#id7,
#id11,
#id15 {
  grid-column: 3;
}

#id4,
#id8,
#id12,
#id16 {
  grid-column: 4;
}

#btn-start-inactive,
#btn-stop-inactive,
#btn-restart:hover {
  cursor: pointer;
}

#btn-start-inactive,
#btn-stop-inactive,
#btn-restart {
  grid-row: 6;
  justify-self: center;
}

#btn-start-inactive {
  grid-column: 1;
}

#btn-stop-inactive {
  grid-column: 2;
}

#btn-restart {
  grid-column: 3;
}

#btn-start-active {
  grid-row: 6;
  justify-self: center;
  grid-column: 1;
  color: green;
}

#btn-stop-active {
  grid-row: 6;
  justify-self: center;
  grid-column: 2;
  color: red;
}

@media only screen and (max-width: 757px) {

  .game-container {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 11;
    width: 70%;
    justify-content: center;
    margin: 0 auto 2rem auto;
    padding-top: 2rem;
    grid-gap: 2rem;
  }

  .game-title {
    margin: auto auto 1rem auto;
    justify-self: center;
    grid-column: 1 / 3;
    grid-row: 1;
  }

#id1,
#id2 {
  grid-row: 2;
}

#id3,
#id4{
  grid-row: 3;
}

#id5,
#id6 {
  grid-row: 4;
}

#id7,
#id8{
  grid-row: 5;
}

#id9,
#id10{
  grid-row: 6;
}

#id11,
#id12{
  grid-row: 7;
}

#id13,
#id14{
  grid-row: 8;
}

#id15,
#id16{
  grid-row: 9;
}

#id1, #id3, #id5, #id7, #id9, #id11, #id13, #id15{
  grid-column: 1;
}

#id2, #id4, #id6, #id8, #id10, #id12, #id14, #id16{
  grid-column: 2;
}

#btn-start-inactive,
#btn-stop-inactive{
  grid-row: 10;
  justify-self: center;
}
#btn-restart {
  grid-row: 11;
  grid-column: 1;
  justify-self: center;
}

#btn-start-active {
  grid-row: 10;
  justify-self: center;
  grid-column: 1;
  color: green;
}

#btn-stop-active {
  grid-row: 10;
  justify-self: center;
  grid-column: 2;
  color: red;
}

}

@media only screen and (max-width: 375px) {

  .game-container {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 21;
    width: 70%;
    justify-content: center;
    margin: 0 auto 2rem auto;
    padding-top: 2rem;
    grid-gap: 2rem;
  }

  .game-title {
    margin: auto auto 1rem auto;
    justify-self: center;
    grid-column: 1;
    grid-row: 1;
  }

#id1 {
  grid-row: 2;
}

#id2 {
  grid-row: 3;
}

#id3 {
  grid-row: 4;
}

#id4 {
  grid-row: 5;
}

#id5 {
  grid-row: 6;
}

#id6 {
  grid-row: 7;
}

#id7 {
  grid-row: 8;
}

#id8 {
  grid-row: 9;
}

#id9 {
  grid-row: 10;
}

#id10 {
  grid-row: 11;
}

#id12 {
  grid-row: 13;
}

#id13 {
  grid-row: 14;
}

#id14 {
  grid-row: 15;
}

#id15 {
  grid-row: 16;
}

#id16 {
  grid-row: 17;
}



#id1, #id2, #id3, #id4, #id5, #id6, #id7, #id8,
#id9, #id10, #id11, #id12, #id13, #id14, #id15, #id16{
  grid-column: 1;
}

#btn-start-inactive{
  grid-row: 18;
  grid-column: 1;
  justify-self: center;
}
#btn-stop-inactive{
  grid-row: 19;
  grid-column: 1;
  justify-self: center;
}
#btn-restart {
  grid-row: 20;
  grid-column: 1;
  justify-self: center;
}

#btn-start-active {
  grid-row: 18;
  justify-self: center;
  grid-column: 1;
  color: green;
}

#btn-stop-active {
  grid-row: 19;
  justify-self: center;
  grid-column: 1;
  color: red;
}

}
