.maincont {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  background-size: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../assets/bg4.jpg");
  background-size: cover;
  height: 40rem;
  width: 100%;
}
