.counter-cont {
  justify-self: center;
  align-self: center;
  grid-row: 6;
  grid-column: 4;
  font-size: 1.3rem;
}

@media only screen and (max-width: 757px) {
  .counter-cont {
    justify-self: center;
    align-self: center;
    grid-row: 11;
    grid-column: 2;
    font-size: 1.3rem;
  }

}

@media only screen and (max-width: 375px) {
  .counter-cont {
    justify-self: center;
    align-self: center;
    grid-row: 21;
    grid-column: 1;
    font-size: 1.3rem;
  }

}
